.App {
  background-color: black;
}

.App > * {
  display: flex;
}

.App-header {
  height: 20vh;
  background-color: red;
}

.App-content {
  height: 50vh;
  background-color: gray;
}

.App-footer {
  height: 30vh;
  background-color: white;
}
